/* Estilizando o cabeçalho */
header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 20px 0; /* Espaçamento interno no cabeçalho */
    text-align: center; /* Alinhar o texto ao centro */
}

header h1 {
    font-size: 36px; /* Tamanho da fonte do título principal */
    font-family: Arial, sans-serif; /* Fonte do título */
}

/* Estilizando a barra de navegação */
nav {
    background-color: #333; /* Cor de fundo da barra de navegação */
    text-align: center; /* Alinhar o texto ao centro */
}

nav ul {
    list-style: none; /* Remover marcadores de lista */
    padding: 0; /* Remover preenchimento padrão */
}

nav ul li {
    display: inline; /* Alinhar os itens da lista horizontalmente */
    margin-right: 20px; /* Espaçamento entre os itens da lista */
}

nav ul li a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
    font-weight: bold; /* Deixar o texto em negrito */
    font-size: 18px; /* Tamanho da fonte dos links */
    transition: color 0.3s; /* Adicionar transição de cor ao passar o mouse */
}

/* Estilizando links ao passar o mouse sobre eles */
nav ul li a:hover {
    color: #ff9900; /* Cor dos links ao passar o mouse */
}
